<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Ingredient</title>
    <link href="assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="assets/img/PanTRY.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="/home"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/cookbook"><i class="fas fa-book-open"></i>Cookbook</a>
                </li>
                <li>
                    <a href="/pantry"><i class="fas fa-hamburger"></i>Pantry</a>
                </li>

            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/profile" class="nav-link text-secondary">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Add Ingredient</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form accept-charset="utf-8" id="addIngredientForm">
                                        <div class="mb-3 row">
                                            <label class="col-sm-2 form-label" for="password">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="ingredientName" name="ingredientName" placeholder="Enter ingredient name..." class="form-control">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input type="submit" class="btn btn-primary">
                                                <input type="button" value="Cancel" onclick="location.href='/pantry'" class="btn btn-secondary">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/form-validator.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="database.js"></script>
    <script>
        // Add event listener for form submission
        document.getElementById('addIngredientForm').addEventListener('submit', function(event) {
            // Prevent default form submission behavior
            event.preventDefault();

            // Retrieve the ingredient name from the input field
            const ingredientName = document.getElementById('ingredientName').value;

            // Call the addIngredient function from database.js
            addIngredient(ingredientName, user.Id);

            // Redirect the user to pantry.html
            location.href = '/pantry';
        });
    </script>
</body>
</html>