<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home | PanTRY</title>
    <link href="assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/master.css" rel="stylesheet">
    <link href="assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <img src="assets/img/PanTRY.png" alt="bootraper logo" class="app-logo">
        </div>
        <ul class="list-unstyled components text-secondary">
            <li>
                <a href="/home"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/cookbook"><i class="fas fa-book-open"></i>Cookbook</a>
            </li>
            <li>
                <a href="/pantry"><i class="fas fa-hamburger"></i>Pantry</a>
            </li>

        </ul>
    </nav>
    <div id="body" class="active">
        <!-- navbar navigation component -->
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button type="button" id="sidebarCollapse" class="btn btn-light">
                <i class="fas fa-bars"></i><span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/profile" class="nav-link text-secondary">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar navigation -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="text" class="form-control" placeholder="Search Recipe">
                        <button class="btn btn-primary mt-3">Search</button>
                        <form action="/add-ingredient" post="POST">
                            <button class="btn btn-secondary mt-3">Add Ingredient</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <h1><br><br>Suggested Recipes:</h1>
                    <div class="col-md-12">
                        <div class="black-square-container">
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Spaghetti Aglio e Olio</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Caprese Salad</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Chicken Alfredo Pasta</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Vegetable Stir Fry</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Margherita Pizza</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Grilled Salmon with Lemon</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Beef Tacos</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Vegetable Lasagna</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                            <div class="black-square" style="background-color: darkgray;">
                                    <span class="square-text">
                                        <strong>Chocolate Chip Cookies</strong><br>
                                        <button class="btn btn-primary">Add to Cookbook</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chartsjs/Chart.min.js"></script>
<script src="assets/js/dashboard-charts.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>